#
# test config
#

menu "test driver Support"

config TEST
	tristate "test driver"
	help
	  Say Y here if you want test.

if TEST

config PROC_TEST_DEBUG
	tristate "support proc test debug"
	help
	  support proc test debug

config IRQ_LATENCY_TEST
	tristate "irq latency test driver"
	help
	  Support irq latency test.

endif # TEST

endmenu
